.tag-line {
	font-family: 'Enriqueta', sans; 
	font-size: 34px; 
	font-weight: normal; 
	list-style: none; 
	text-align: center;
	margin-left: 0;
	margin-top: 0;
	background: #74c058; 
	color: #ffffff; 
	@include pad(.5em);
	@include clearfix;
	@include media($medium-screen-up) {
/*		@include span-columns(4);*/
	}
	@include media($large-screen-up) {
		@include span-columns(4 of 5);
		padding: 15px 25px 15px 25px; 
/*		margin-left: -.833333333em; /* 30px/36px */
		margin-top: .416666667em; /* 15px/36px */
		}
	}

.tag-line p {
	margin: 12px 0;
}

.top-left-headline {
	display: none;
	background: transparent;
	@include clearfix;
	@include media($large-screen-up) {
		@include span-columns(5);
		background-color: #ffffff;;
	}
}

.featured-bpost {
	@include pad(1em);
	float: left;
/*	@include media($medium-screen-up){
		@include span-columns(4);
	}
	@include media($large-screen-up){
		@include span-columns(6);
	}*/
}

.featured-bpost span {
	font-size: 14px; 
	line-height: 1.4;
}

.featured-bpost h3 {
	font-size: 20px; 
	margin: 0;
}

.featured-bpost h3 a {
	color: #222;
}

.featured-bpost-date {
	color: #59afcf; 
	font-size: 16px; 
/*	margin-top: 30px;*/
}

.featured-bpost-byline, 
.featured-bpost-more {
	font-size: 12px; 
	margin:0;
}

.slider {
	margin-bottom: $base-spacing * 2;
	@include media($large-screen-up){
		@include span-columns(7);
	}
}

/*  ==================================
    Secondary Navigation (menus, book)
	================================== */

.sec-nav-bkg {
	background: #59afcf;
}

.sec-nav {
	font-size: 18px; 
	list-style: none; 
	text-transform: uppercase; 
	margin-bottom: $base-spacing * 2;
	@include media($medium-screen-up) { 
	margin-bottom: 80px;
	margin-top: 80px;
	}
}

.sec-nav ul {
	list-style: none;
}


.menus {
/*	background: #59afcf;
	height: 57px;*/
}

.menus a {
	color: #ffffff;
	}

.menus li {
	padding: 1em;
	margin-bottom: 1px;
		background-color: #59afcf;
	@include media($medium-screen-up) {
		float: left; 
		width: 180px;
		}
	}

.menus ul {

	margin: 0;

	text-align: center;

		@include media($medium-screen-up) {
			height: 35px;
			padding-top: 10px;
			margin: 5px;
			border-top: 1px dotted #666666;
			border-bottom: 1px dotted #666666;
		}
}


.book-table {

	color: #ffffff;
	ul {

		text-align: center;
		margin: 0;
		@include clearfix;
		@include media($medium-screen-up) {
			padding-top: 10px;
			margin: 5px;
			height: 35px;	
			border-top: 1px dotted #666666;
			border-bottom: 1px dotted #666666;		
		}
	}
}

.book-table li {
	float: left; 
	width: 100%;
	padding: 1em;
	background: #ef7233; 
}

.book-table a {
	color: #ffffff;
}
.josh-quote {
	padding: 1em;
	@include clearfix;
	margin-bottom: $base-spacing * 2;
}
.josh-wrapper {
	text-align: center;
	margin-bottom: $base-spacing;
	@include media($medium-screen-up){
		@include span-columns(2);
	}
}
.josh-image {
	max-width: 100%;
}
.main-quote {
	line-height: 1.4; 
	font-size: 18px; 
	margin: 0;
	@include media($medium-screen-up){
		@include span-columns(4);
		@include omega();
	}
}

.week-calendar-row:hover, 
.toprow:hover, 
.tuesday-row:hover, 
.weekend-special-row:hover {
	background-color: #ffffff;
}

.calendar {
	margin-bottom: $base-spacing * 2;
	background: #f0eeee; 
	font-size: 12px;
	h3 {
		font-size: 18px; 
		font-weight: normal;
	}	
}


.week-calendar-header {
	background: #59afcf; 
	color: #ffffff;
	td {
		padding-left: $base-spacing;
	}
}

.tuesday-header {
	@extend .week-calendar-header;
	background: #74c058;
}

.bracket {
	color: #333333;
}

.tuesday-pricing {
	font-size: $base-font-size * .75;
	float: right;
}


.calendar-icon {
	margin-right: $base-spacing / 2;
	vertical-align: middle;
}


.week-calendar-row td {
	padding: $base-spacing;
	}

.toprow td {
	padding: $base-spacing * .555555556 $base-spacing $base-spacing $base-spacing;
}

.tuesday-row td, 
.weekend-special-row td {
	padding: $base-spacing * .555555556  $base-spacing;
}

.week-calendar-row, 
.tuesday-row, 
.weekend-special-row,
.toprow {
	border-bottom: 1px dotted #8d8d8d;
}

.downarrow-wrapper {
	padding: 0;
}
.downarrow {
	width: 0; 
	height: 0; 
	border-left: 17px solid transparent; 
	border-right: 17px solid transparent; 
	border-top: 17px solid #59afcf; 
	margin: -2px auto;
}

