$visual-grid: true !default; // Display the base grid
$visual-grid-color: green !default;
$visual-grid-index: front !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.1 !default;
$visual-grid-breakpoints: () !default;
